.headerContainer {
  display: flex;
  justify-content: space-between;
  text-align: end;
  padding: 1rem 0 1rem 0;
}

.headerContainer p {
  border-radius: 1rem;

  color: black;
  /* background-color: #354b45; */
}

.aboutButton {
  /* background-color: #354b45 !important; */
  color: black;
  border: none !important;
  height: fit-content;
  font-size: 1.5rem;
}

.aboutButton a {
  color: #97b0aa;
}

.gitHubIcon {
  padding-left: 1rem;
}

@media only screen and (max-width: 480px) {
  .headerContainer {
    text-align: center !important;
    flex-direction: column;
  }

  .aboutButton {
    display: none;
  }
}
