.responseContainer {
  padding: 3rem 2rem;
}

.responseContainer a {
  color: #354b45;
}

.responseSection {
  border: 1px black solid;
  padding: 3rem;
  margin: 1rem;
  height: 15rem;
  transition: background-color 0.3s ease;
  border-radius: 1rem;
}

.responseSection:hover {
  background-color: #97b0aa;
  color: white;
}

.responseSection:hover .timer .timerIcon {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@keyframes bounce-top {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
