.responseContainer {
  padding: 3rem 2rem;
}

.responseContainer a {
  color: #354b45;
}

.responseSection {
  border: 1px black solid;
  padding: 3rem;
  margin: 1rem;
  height: fit-content;
  transition: background-color 0.3s ease;
  border-radius: 1rem;
  color: black;
  box-shadow: 11px 7px 7px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px 7px 7px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 7px 7px -3px rgba(0, 0, 0, 0.75);
}

.responseSectionTitle {
  text-decoration: underline;
  padding: 0 0 1rem 0;
}

.responseSectionAuthor {
  padding: 0 0 1rem 0;
  color: #84b880;
}

.responseSectionResponse {
  font-style: italic;
}

.responseSection:hover {
  background-color: #354b45;
  color: white;
}

.responseSection:hover .timer .timerIcon {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@keyframes bounce-top {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
