.selectionContainer {
  background-color: #354b45;
  padding: 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  color: #97b0aa;
}

.selectionTitle {
  color: #84b880;
}

.selectorsContainer {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.selectionButtonContainer button {
  border-radius: 5rem;
}

.additionalButtonsContainer {
  padding: 4rem 0 0 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.additionalButtonsContainer button {
  border-radius: 5rem;
}

.selectionBtn {
  width: 20rem;
  background-color: #0d90de !important;
  border: none !important;
}

.selectionBtn:hover {
  width: 20rem;
  background-color: #28d6b8 !important;
}

/*  laptop  */
@media only screen and (max-width: 1450px) {
}

/*  tablets */
@media only screen and (max-width: 768px) {
}

/*  phones */
@media only screen and (max-width: 480px) {
  .selectorsContainer {
    flex-direction: column;
    gap: 2rem;
    padding: 0 0 2rem 0;
  }

  .selectionBtn {
    width: fit-content;
  }
}
